body{
    #contactBox{
        width: 500px;
        height: 80%;
        margin: auto;
        background-color: rgba(211,211,211, 0.9);;
        border-radius: 10px;
        border: solid 3px steelblue;

        h1, h3{
            text-align: center;
            color: steelblue;
        }
    }

    #EMAIL, #SocialInvites{
        margin-top: 30px;
        text-align: center;

        a{
            text-decoration: none;
            color: @secondaryColor;
        }
    }
}

#EMAIL{

    button{
        margin: auto;
        width: 100px;
        height: 50px;
        border-radius: 5px;
        background-color: whitesmoke;
        border: 2px solid whitesmoke;
    }

    p{
        align-items: center;
        margin: auto;
    }
}