.mainContent {
    background-image: url("/recources/indianapolis.png");
    background-repeat: no-repeat;
    background-size: auto 700px;
}

@media screen and (max-width: 600px) {
    .mainContent {
        background-image: url("/recources/indyPhoneStyle.png");
    }
}